<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWhiz - Instructions</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bg-orange-70">
    <nav class="flex justify-between items-center h-10 px-3 my-1">
        <div class="logo font-bold text-xl">
            <h4>QuizWhiz</h4>
        </div>
        <ul class="nav-links flex gap-4">
            <li class="hover:underline hover:decoration-orange-400"><a href="/">Home</a></li>
            <li class="hover:underline hover:decoration-orange-400"><a href="/">Quiz</a></li>
            <li class="hover:underline hover:decoration-orange-400"><a href="/">About</a></li>
            <li><button class="start bg-orange-500 px-2 rounded-lg cursor-pointer text-white hover:bg-orange-400"><a href="test.html">Quiz</a></button></li>
        </ul>
    </nav>
    <main>
        <section class="instructions-container gap-5 h-[60vh] flex flex-col justify-center items-center my-auto">
            <div class="instructions flex flex-col justify-center items-center gap-4">
                <h1 class="text-4xl text-center font-bold">Instructions</h1>
                <p class="text-center text-orange-400 font-medium">Please read the following instructions carefully before starting the quiz:</p>
                <ul class="list-disc list-inside text-center">
                    <li>Each question has a time limit of 30 seconds.</li>
                    <li>You cannot go back to the previous question once you have moved to the next one.</li>
                    <li>Each correct answer will earn you 10 points.</li>
                    <li>There is no negative marking for incorrect answers.</li>
                    <li>Make sure you have a stable internet connection.</li>
                    <li>Click on the "Start Quiz" button to begin the quiz.</li>
                </ul>
                <button class="start text-white rounded-lg bg-orange-500 px-3 py-2 cursor-pointer hover:bg-orange-400"><a href="test.html">Start Quiz</a></button>
            </div>
        </section>
    </main>
    <footer class="flex justify-center items-center h-10 bg-orange-400 text-white absolute bottom-0 w-full">
        <p>&copy; 2025 QuizWhiz. All Rights Reserved.</p>
    </footer>
    <button type="reset"></button>
</body>
</html>